:root {
    --cor-principal: #e56d00;
}

/* 🔥 NAVBAR */
.navbar {
    background-color: var(--cor-principal) !important;
}

/* 🔥 FOOTER */
footer {
    background-color: var(--cor-principal) !important;
    color: white;
}

/* 🔥 BOOTSTRAP bg-success FORÇADO */
.bg-success {
    background-color: var(--cor-principal) !important;
}

/* 🔥 BOTÕES BOOTSTRAP (IMPORTANTE) */
.btn-primary,
.btn-success,
.btn {
    background-color: var(--cor-principal) !important;
    border-color: var(--cor-principal) !important;
    color: white !important;
}

/* hover */
.btn:hover,
.btn-primary:hover,
.btn-success:hover {
    background-color: #e56d00 !important;
    border-color: #e56d00 !important;
}

/* menu hamburger */
.btn-hamburger {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 24px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.btn-hamburger span {
    display: block;
    height: 3px;
    background: #333;
    border-radius: 2px;
}

.btn-hamburger:hover span {
    background: #000;
}