{% extends 'usuarios/base.html' %}

{% block conteudo %}

<h2>Lista de Patrimônios</h2>

<hr>

<table class="table table-striped">

    <thead>

        <tr>

            <th>Tombamento</th>

            <th>Nome</th>

            <th>Categoria</th>

            <th>Responsável</th>

            <th>Status</th>

            <th>Ações</th>

        </tr>

    </thead>

    <tbody>

        {% for patrimonio in patrimonios %}

        <tr>

            <td>{{ patrimonio.numero_tombamento }}</td>

            <td>{{ patrimonio.nome }}</td>

            <td>{{ patrimonio.categoria }}</td>

            <td>{{ patrimonio.responsavel }}</td>

            <td>{{ patrimonio.status }}</td>

            <td>

                <a href="{% url 'editar_patrimonio' patrimonio.id %}"

                   class="btn btn-warning btn-sm">

                   Editar

                </a>

                <a href="{% url 'excluir_patrimonio' patrimonio.id %}"

                   class="btn btn-danger btn-sm">

                   Excluir

                </a>

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}